@use '../../../../styles/variables/colors' as colors;

.header {
  height: 55px;
  background-color: rgba(colors.$gray-800, 0.5);

  .header-wrapper {
    height: 100%;
    margin: 0 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__right  {
      display: none;
    }
  }
}

@media screen and (min-width: 996px) {
  .header {
    height: 84px;

    .header-wrapper {
      justify-content: space-between;

      &__right  {
        display: block;
      }
    }
  }
}
