<div class="header">
  <div class="header-wrapper">
    <div class="header-wrapper__left">
      <div class="header-wrapper__logo">
        <img src="assets/logo.svg" alt="Dead by Daylight">
        <!-- <div class="header-wrapper__title">
          <h1>Dead by Daylight</h1>
        </div> -->
      </div>
    </div>
    <div class="header-wrapper__right">
      <div class="header-wrapper__player-link">
        <a href="/" class="btn-primary btn-sm">Jogar agora</a>
      </div>
    </div>
  </div>
</div>
