<div class="header">
  <div class="header-wrapper">
    <div class="header-wrapper__left">
      <div class="header-wrapper__logo">
        <a [routerLink]="'/'" aria-label="voltar para a página inicial">
          <img ngSrc="images/svg/text-logo.svg?updatedAt=1736896859472" alt="" width="300" height="25" priority>
        </a>
      </div>
    </div>
    <div class="header-wrapper__right">
      <div class="header-wrapper__player-link">
        <a href="/" class="btn-primary btn-sm">Jogar agora</a>
      </div>
    </div>
  </div>
</div>
