@use '../../../../styles/variables/colors' as colors;

.header {
  //height: 84px;
  height: 50px;
  background-color: rgba(colors.$gray-800, 0.5);

  .header-wrapper {
    height: 100%;
    margin: 0 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-wrapper__player-link {
      display: none;
    }
  }

}

@media screen and (min-width: 960px) {
  .header-wrapper__player-link {
    display: block;
  }
}
