<div class="slider">
  <div class="slider-wrapper">
    @if (!isMobile()) {
      <div class="control-wrapper control-previous">
        <button class="control btn-primary" aria-label="slide anterior" (click)="handlePrevious()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </button>
      </div>
    }
    <div class="slide" (touchstart)="handleTouchStart($event)" (touchmove)="handleTouchMove($event)">
      <img [src]="slideItem().image.url" [alt]="slideItem().name" fill>
      @if (isMobile()) {
        <div class="dots">
          @for (item of data(); track $index) {
          <span [class.active]="$index === currentIndex()" (click)="goToSlide($index)"></span>
          }
        </div>
      }
    </div>
    @if (!isMobile()) {
      <div class="control-wrapper control-next">
        <button class="control btn-primary" aria-label="próximo slide" (click)="handleNext()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>
    }
  </div>
  <span class="caption display-lg font-semi-bold">{{ slideItem().name }}</span>
</div>
