<div class="slider">
  <div class="slider-wrapper">
    <div class="control-wrapper control-previous">
      <button class="control btn-primary" aria-label="slide anterior" (click)="handlePrevious()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
      </button>
    </div>
    <div class="slide">
      <img [ngSrc]="slideItem().image" [alt]="slideItem().name" fill>
    </div>
    <div class="control-wrapper control-next">
      <button class="control btn-primary" aria-label="próximo slide" (click)="handleNext()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </div>
  <span class="caption display-lg font-semi-bold">{{ slideItem().name }}</span>
</div>
