@use '../../../../styles/variables/colors' as colors;

  .footer-wrapper {
    padding: 2rem 1.5625rem 0.75rem;
    display: block;

    color: colors.$gray-400;

    .highlighter {
      color: colors.$gray-200;
      font-weight: normal;
    }

    &__top {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 0.5rem;
    }

    .warning {
      width: 14rem;
      height: 4.25rem;

      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      border: 1px solid colors.$gray-800;
      border-radius: 4px;

      .warning-image {
        height: calc(100%  + 2px);
        position: relative;
        left: -1px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .footer-wrapper {
      padding: 2rem 2.5rem 2.25rem;

      &__top {
        flex-direction: row;
        align-items: center;
      }

      .warning {
        width: 22rem;
        height: 4rem;
      }
    }
  }

  @media screen and (min-width: 996px) {
    .footer-wrapper {
      padding: 3rem 4.5rem 1rem;

      &__top {
        margin-bottom: 1.5rem;
      }
    }
  }
