<div class="footer">
  <div class="footer-wrapper font-normal">
    <div class="footer-wrapper__top">
      <p class="text-md">
        Partes dos materiais utilizados são <strong class="highlighter">marcas registradas</strong> e/ou <strong
          class="highlighter">obras protegidas por direitos autorais</strong> da <strong
          class="highlighter">Behavior<br />
          Interactive Inc.</strong> Este material <strong class="highlighter">não é oficial</strong> e <strong
          class="highlighter">não
          é endossado</strong> pela Behavior.
      </p>
      <div class="warning text-xs">
        <img src="/assets/18anos.png" alt="" class="warning-image" loading="lazy">
        Violência extrema, Compras<br /> On-line, Interação de usuários
      </div>
    </div>
    <div class="footer-wrapper__bottom text-sm">
      Powered by <span class="designer">
        <img src="/assets/explow.svg" alt="" loading="lazy">
      </span>
    </div>
  </div>
</div>
