.display-3xl {
  font-size: 2.5rem;
  line-height: 3rem;
}

.display-2xl {
  font-size: 2rem;
  line-height: 3.625rem;
  letter-spacing:  -1px;
}

.display-xl {
  font-size: 3.75rem;
  line-height: 4.5rem;
  letter-spacing: -1px;
}

.display-lg {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

.display-md {
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing:  -1px;
}

.display-sm {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.display-xs {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.675rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.575rem;
  line-height: 0.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.font-normal {
  font-weight: 400;
  font-style: normal;
}

.font-semi-bold {
  font-weight: 600;
  font-style: normal;
}

.font-bold {
  font-weight: 700;
  font-style: normal;
}


@media screen and (min-width: 768px) {
  .display-3xl {
    font-size: 4.5rem;
    line-height: 5.625rem;
    letter-spacing:  -1px;
  }
  
  .display-2xl {
    font-size: 4rem;
    line-height: 5.625rem;
    letter-spacing:  -1px;
  }
  
  .display-xl {
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }
  
  .display-lg {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -1px;
  }
  
  .display-md {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing:  -1px;
  }
  
  .display-sm {
    font-size: 1.875rem;
    line-height: 2.375rem;
  }
  
  .display-xs {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .text-md {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .text-xs {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}