<main class="page">
  <section class="hero">
    <div class="page-wrapper">
      <div class="page-wrapper__left">
        <div class="page-title">
          <img ngSrc="images/svg/hero_text.svg?updatedAt=1736986078301"
          alt=""
          priority
          width="746"
          height="166"
          >
        </div>
        <div class="page-subtitle text-xl font-normal">
          Em Dead by Daylight, persiga, corte e sacrifique sua presa como um assassino monstruoso ou junte-se a uma
          equipe de quatro sobreviventes astutos trabalhando juntos para escapar.
        </div>
        <div class="pay-link">
          <a href="https://deadbydaylight.com/pt-br/" target="_blank" class="btn-primary btn-lg">Compre o jogo principal</a>
        </div>
      </div>
      <div class="page-wrapper__right">
        <div class="miniature">
          <img ngSrc="images/banners/miniature.jpeg" alt="" priority width="288" height="176">
        </div>
      </div>
    </div>
  </section>
  <section class="platforms">
    <div class="page-wrapper">
      <div class="page-wrapper__left">
        <p class="display-lg font-semi-bold">
          Bem vindo ao jogo mortal de esconde-esconde
        </p>
      </div>
      <div class="page-wrapper__right">
        <ul class="list">
          <li class="list-item"><img ngSrc="images/svg/nintendo.svg" alt="" class="icon" width="24" height="24"></li>
          <li class="list-item"><img ngSrc="images/svg/xbox.svg" alt="" class="icon" width="31" height="30"></li>
          <li class="list-item"><img ngSrc="images/svg/playstation.svg" alt="" class="icon" width="36" height="27"></li>
          <li class="list-item"><img ngSrc="images/svg/computer.svg" alt="" class="icon" width="30" height="28"></li>
          <li class="list-item"><img ngSrc="images/svg/Vector.svg" alt="" class="icon" width="34" height="34"></li>
          <li class="list-item"><img ngSrc="images/svg/epic.svg" alt="" class="icon" width="33.98" height="39.54"></li>
          <li class="list-item"><img ngSrc="images/svg/Microsoft%20logo.svg" alt="" class="icon" width="36" height="37"></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="role">
    <div class="page-wrapper">
      <div class="page-wrapper__left">
        <div class="card role-card-left">
          <div class="header">
            <span class="icon">
              <img ngSrc="images/svg/assassino%201.svg" alt="" fill>
            </span>
            <h3 class="display-lg font-semi-bold role-type">Jogue como <br /> Um assassino(Solo)</h3>
          </div>
          <div class="body">
            <div class="character-image">
              <img ngSrc="images/png/ghost-face.png" alt="" fill>
            </div>
            <div class="character-image">
              <img ngSrc="images/png/saw.png" alt="" fill>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper__right">
        <div class="card role-card-right">
          <div class="header">
            <span class="icon">
              <img ngSrc="images/svg/sobrevivente%201.svg" alt="" fill>
            </span>
            <h3 class="display-lg font-semi-bold role-type">Jogue como <br /> Um sobrevivente(Co-op)</h3>
          </div>
          <div class="body">
            <div class="character-image">
              <img ngSrc="images/png/resident-evil.png" alt="" fill>
            </div>
            <div class="character-image">
              <img ngSrc="images/png/silent-hill.png" alt="" fill>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="role-footer page-wrapper">
      <p class="display-lg font-semi-bold">
        O único jogo onde as maiores franquias do terror colidem
      </p>
      <div class="page-wrapper__pay-link">
        <a class="btn-primary btn-lg" [routerLink]="'/game/characters'" routerLinkActive="btn--active"
          [attr.aria-current]="'page'" [routerLinkActiveOptions]="{ exact: true }">Ver todos os personagens</a>
      </div>
    </div>
  </section>
  <section class="maps">
    <div class="page-wrapper">
      <div class="header">
        <h2 class="display-3xl font-semi-bold">Explore mais de 15 mapas de arrepiar</h2>
      </div>
      <div class="body">
        @defer {
          @if (isLoaded) {
            <dbd-slider [data]="data()"></dbd-slider>
          } @else {
            <div class="loading-wrapper">
              <img src="https://ik.imagekit.io/mnbb48o/images/svg/logo.svg" alt="" class="loading-image" width="250" height="250">
            </div>
          }
        } @loading (minimum 1s) {
          <div class="loading-wrapper">
            <img ngSrc="images/svg/logo.svg" alt="" class="loading-image" width="250" height="250">
          </div>
        }
       </div>
    </div>
  </section>
  <section class="play-now">
    <div class="page-wrapper">
      <h2 class="title display-3xl font-semi-bold">Jogue Dead By <br />Daylight hoje</h2>
      <ul class="list">
        <li class="list-item">
          <span class="icon">
            <img ngSrc="images/svg/alvo.svg" alt="" fill>
          </span>
          <p class="text-lg font-normal">Divirta-se sobrevivendo ou caçando</p>
        </li>
        <li class="list-item">
          <span class="icon">
            <img ngSrc="images/svg/conect.svg" alt="" fill>
          </span>
          <p class="text-lg font-normal">Conecte-se com seus amigos</p>
        </li>
        <li class="list-item">
          <span class="icon">
            <img ngSrc="images/svg/envelope.svg" alt="" fill>
          </span>
          <p class="text-lg font-normal">Compre coleções de personagens e mapas</p>
        </li>
      </ul>
      <div class="page-wrapper__pay-link">
        <a href="https://deadbydaylight.com/pt-br/" target="_blank" class="btn-primary btn-lg">Adquirir agora</a>
      </div>
    </div>
  </section>
</main>
