@use '../../../styles/variables/colors' as colors;

.page {
  .page-wrapper {
    height: 100%;
    margin: 0 4.5rem;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__right {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .page-title {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;

    // img {
    //   width: 100%;
    //   height: auto;
    //   display: block;
    // }
  }

  .page-subtitle {
   margin-bottom: 2.5rem;
  }

  .miniature {
    width: 18rem;
    height: 11rem;
    margin-bottom: 2.5rem;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.hero {
  height: 100vh;
  background-image: url('https://ik.imagekit.io/mnbb48o/images/banners/banner-topo-home.jpeg?updatedAt=1736896883455');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;

  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 45%;
  }
}

.platforms {
  display: block;
  margin: 4rem 0 6.75rem;

  .page-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
  }

  .list {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    .list-item {
      .icon {
        display: block;
      }
    }
  }
}

.role {
  margin-bottom: 8rem;
  display: block;

  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__right {
      display: flex;
      flex-direction: column;
    }
  }

  .card {
    width: 100%;
    margin-bottom: 4rem;
    height: 35rem;
    display: block;

    position: relative;

    .header {
      margin-top: 3.125rem;

      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        position: absolute;
        top: -2.75rem;
        right: -2.375rem;
        z-index: 1;
        width: 7.75rem;
        height: 7.75rem;
      }
    }

    .body {
      display: flex;
      column-gap: 1.5rem;

      position: absolute;
      bottom: -6.875rem;

      .character-image {
        width: 19rem;
        height: 26.8125rem;
        display: block;
        position: relative;
      }
    }
  }

  .role-card-left {
    background-image: url("https://ik.imagekit.io/mnbb48o/images/png/fundo_assasino.jpeg?updatedAt=1736896859588");
    .body {
      left: -2.5rem;
    }
  }

  .role-card-right {
    background-image: url("https://ik.imagekit.io/mnbb48o/images/png/fundo_sobrevivente.jpeg?updatedAt=1736896859737");
    .body {
      right: -2.5rem;
    }
  }

  .role-footer {
    margin-top: 9rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 4rem;
  }
}

.maps {
  margin-bottom: 8rem;
  display: block;

  .header {
    margin-bottom: 6.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: colors.$gray-900;
  }

  .loading-image {
    width: 250px;
    height: 250px;
    animation: pulse 2s infinite;
  }
}

.play-now {
  height: 100vh;
  background-image: url("https://ik.imagekit.io/mnbb48o/images/banners/banner-jogue-hoje.jpeg?updatedAt=1736896883000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  }

  .title {
    margin-bottom: 1.8rem;
  }

  .list {
   margin-bottom: 1.8rem;
   display: flex;
   flex-direction: column;
   row-gap: 1.5rem;

    .list-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1rem;

      .icon {
        width: 18px;
        height: 18px;
        display: block;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .page {
    .page-wrapper {
      margin: 0 1.5rem;
    }
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
