.characters-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;

  .characters-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;

    .body {
      .image {
        height: 220px;
        display: block;
      }
    }
  }
}
